@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&display=swap');
  
/*nav*/
.nav-title{
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 28.4444px;
  line-height: 32px;
  color: #000000;
  font-style: normal;
  text-decoration: none;
}
.nav-title img{
  width: 70px;
  height: 70px;
  padding-bottom: 10px;
}
.container-nav{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.nav1 a{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.015em;
  color: #000;
  text-decoration: none;
  margin: 0 40px;
}
.nav1 a:hover{
  color: rgb(237, 161, 31);
}
.active{
  border-bottom: 2px solid black;
}
.division{
  margin: 0 50px;
  color:rgba(0, 0, 0, 0.5);
}

/*footer*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer p{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

/*main*/
.main-home{
  margin: 80px 320px;
}
.main-description, .main-home{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.main-title{
  font-size: 48px;
  line-height: 72px;
}
.main-description{
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 50px;
}


/*IMC*/
.contenedor-imc{
  display: flex;
  justify-content: center;
}
.imc-card {
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  margin: 60px; 
  background-color: #D9D9D9;
}
.imc-resultado{
  text-align: center;
  font-weight: bold;
}
.imc-resultado h4{
  text-transform: uppercase;
}
.imc-progress{
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}
.progress-valor{
  text-align: right;
  margin-left: 20px;
}
.normal{
  color:rgb(28, 187, 28)
}
.sobrepeso{
  color: rgb(216, 216, 16);
}
.obs1{
  color:rgb(230, 128, 11);
}
.obs2{
  color:rgb(179, 58, 14);
}
.obs3{
  color:red;
}